@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}
.border {
    border-bottom: 3px solid $main-color;
    width: 100px;
    margin: 10px auto 0 auto;
}   

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepannel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/media';