.grid-container {
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,));
    grid-template-rows: repeat(2,minmax(150px));
    grid-auto-rows: minmax(100px, auto);
    gap: 5px;
    grid-template-areas: 
    "img me"
    "img footer";
}

#web {
    grid-area: web;
}
#development {
    grid-area: development;
}
#uiux {
    grid-area: uiux;
}

#img {
    grid-area: img;
}
#me {
    grid-area: me;
}
img {
    width: 400px;
}
#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "web development ."
    "uiux . .";
}

.about {
    &__for {
        width: 79px;
        height: 24px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    &__name {
        width: 445px;
        height: 60px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
    }
    &__text {
        width: 570px;
        height: 123px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__subtitle {
        width: 183px;
        height: 21px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &__descr {
        width: 200px;
        height: 89px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}